### Retriving Job title, location in Monter.com

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
URL = 'https://www.monster.com/jobs/search/?q=Software-Developer&where=Australia'
page = requests.get(URL)

In [3]:
#print(page.content)

In [4]:
soup = BeautifulSoup(page.content, 'html.parser')

In [5]:
results = soup.find(id='ResultsContainer')

In [6]:
#print(results.prettify())

In [7]:
job_elems = results.find_all('section', class_='card-content')

In [8]:
for job_elem in job_elems:
    title_elem = job_elem.find('h2', class_='title')
    company_elem = job_elem.find('div', class_='company')
    location_elem = job_elem.find('div', class_='location')
    if None in (title_elem, company_elem, location_elem):
        continue
    print(title_elem.text.strip())
    print(company_elem.text.strip())
    print(location_elem.text.strip())
    print()

Lead Performance Engineer, Software Systems
Magic Leap, Inc.
Plantation, FL; Sunnyvale, CA; Culver New York City, CA; Seattle, WA; Austin, TX; Toronto, NY

SQL BI (SSRS, SSIS) developer for Blackboard - NYC
LanceSoft Inc
New york, WA

Python Developer
LanceSoft Inc
Woodlands, WA

Junior QA Analyst - Melbourne, Victoria
Mediaocean
Melbourne, VIC

Payroll Tester
Dialog Group
Brisbane, QLD

Test Analyst
Dialog Group
Canberra, ACT

Customer Experience Technical Analyst - Sydney, New South Wales
Mediaocean
Sydney, NSW

Account Manager
Dialog Group
Canberra, ACT

Test Analyst / Senior Test Analyst
Dialog Group
Melbourne, VIC

Senior Practice Manager - IES (WA)
Blue Ocean Ventures
New York, WA

Software Developer/Senior Software Developer
Beacon Hill Staffing Group, LLC
Green Bay, WI

Enterprise Account Executive
Zuora
Melbourne, VIC

Associate Strategist- Social Media
Khoros, LLC
Sydney, FL

Performance Test Consultant
Dialog Group
Melbourne, VIC

## Finding a job by title

In [9]:
python_jobs = results.find_all('h2', string='Python Developer')

In [10]:
python_jobs = results.find_all('h2',
                               string=lambda text: 'python' in text.lower())

In [11]:
 print(len(python_jobs))

1

In [12]:
for p_job in python_jobs:
    link = p_job.find('a')['href']
    print(p_job.text.strip())
    print(f"Apply here: {link}\n")

Python Developer
Apply here: https://job-openings.monster.com/python-developer-woodlands-wa-us-lancesoft-inc/4755ec59-d0db-4ce9-8385-b4df7c1e9f7c

## IMBD Web Scraping

In [13]:
response = requests.get("http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1")

In [14]:
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle"

In [15]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

## Reading movie details in 1st page

In [16]:
movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')

In [17]:
print(type(movie_containers))

<class 'bs4.element.ResultSet'>

In [18]:
print(len(movie_containers))

50

## Retriving movie detials of first movie

In [43]:
first_movie = movie_containers[0]

In [44]:
first_movie.div

<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>

In [21]:
first_movie.a

<a href="/title/tt3315342/"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB466725069_.png" width="67"/>
</a>

In [22]:
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>

In [23]:
first_movie.h3.a

In [24]:
first_movie.h3.a.text

'Logan'

In [25]:
first_year = first_movie.find('span', class_ = "lister-item-year text-muted unbold")

In [26]:
first_year.text.split

In [27]:
first_movie.strong.text

'8.1'

In [28]:
first_imdb = float(first_movie.strong.text)

In [29]:
first_imdb

8.1

In [30]:
first_mscore = first_movie.find('span', class_ = 'metascore favorable')
first_mscore = int(first_mscore.text)
print(first_mscore)

77

In [31]:
first_votes = first_movie.find('span', attrs = {'name':'nv'})
first_votes

In [32]:
print(int(first_votes['data-value']))

617330

In [33]:
#runtime
first_runtime = first_movie.find('span', class_ = "runtime").text
first_runtime

'137 min'

In [34]:
#genre
first_genre = first_movie.find('span', class_ = "genre").text
first_genre[1:].strip()

'Action, Drama, Sci-Fi'

In [35]:
eighth_movie_mscore = movie_containers[6].find('div', class_ = 'ratings-metascore')
type(eighth_movie_mscore)

bs4.element.Tag

In [36]:
pages = [str(i) for i in range(1,5)]
years_url = [str(i) for i in range(2000, 2018)]

In [37]:
names = []
years = []
votes = []
metascores = []
imdb_ratings = []
genres = []
runtimes = []

for year_url in years_url:
    for page in pages:
        page_html = BeautifulSoup(response.text, 'html.parser')
        mv_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
        for container in mv_containers:
            if container.find('div', class_ = 'ratings-metascore') is not None:
#name   
                name = container.h3.a.text
                names.append(name)
#year
                year = container.find('span', class_ = "lister-item-year").text
                years.append(year)
#rating
                rating = float(container.strong.text)
                imdb_ratings.append(rating)
#votes
                vote = container.find('span', attrs = {'name':'nv'})['data-value']
                votes.append(int(vote))
#metascore
                score = container.find('span', class_ = 'metascore').text
                metascores.append(int(score))
#genre
                genre = container.find('span', class_ = "genre").text.strip()
                genres.append(genre)
#runtime
                runtime = container.find('span', class_ = "runtime").text
                runtimes.append(runtime)

In [38]:
test_df = pd.DataFrame({'Movie':names, 'Year': years, 'IMDB': imdb_ratings, 'Metascore': metascores, 'Vote':votes, 'Runtime' : runtimes, 'Genre':genre})
test_df

,Movie,Year,IMDB,Metascore,Vote,Runtime,Genre
0,Logan,(2017),8.1,77,617330,137 min,"Action, Biography, Comedy"
1,Thor: Ragnarok,(2017),7.9,74,553312,130 min,"Action, Biography, Comedy"
2,Guardians of the Galaxy Vol. 2,(2017),7.6,67,540913,136 min,"Action, Biography, Comedy"
3,Star Wars: Episode VIII - The Last Jedi,(2017),7.0,84,540316,152 min,"Action, Biography, Comedy"
4,Wonder Woman,(2017),7.4,76,528536,141 min,"Action, Biography, Comedy"
...,...,...,...,...,...,...,...
3019,Bright,(I) (2017),6.3,29,161957,117 min,"Action, Biography, Comedy"
3020,Darkest Hour,(2017),7.4,75,161611,125 min,"Action, Biography, Comedy"
3021,Valerian and the City of a Thousand Planets,(2017),6.5,51,155052,137 min,"Action, Biography, Comedy"
3022,Baywatch,(2017),5.5,37,153550,116 min,"Action, Biography, Comedy"
3023,American Made,(2017),7.2,65,150610,115 min,"Action, Biography, Comedy"

In [39]:
test_df = test_df[['Movie', 'Year', 'IMDB', 'Metascore', 'Vote', 'Runtime', 'Genre']]
test_df.tail()

,Movie,Year,IMDB,Metascore,Vote,Runtime,Genre
3019,Bright,(I) (2017),6.3,29,161957,117 min,"Action, Biography, Comedy"
3020,Darkest Hour,(2017),7.4,75,161611,125 min,"Action, Biography, Comedy"
3021,Valerian and the City of a Thousand Planets,(2017),6.5,51,155052,137 min,"Action, Biography, Comedy"
3022,Baywatch,(2017),5.5,37,153550,116 min,"Action, Biography, Comedy"
3023,American Made,(2017),7.2,65,150610,115 min,"Action, Biography, Comedy"

## Cleaning Year column to remove extra characters

In [40]:
test_df.loc[:, 'Year'] = test_df['Year'].str[-5:-1].astype(int)

In [41]:
test_df.head(5)

,Movie,Year,IMDB,Metascore,Vote,Runtime,Genre
0,Logan,2017,8.1,77,617330,137 min,"Action, Biography, Comedy"
1,Thor: Ragnarok,2017,7.9,74,553312,130 min,"Action, Biography, Comedy"
2,Guardians of the Galaxy Vol. 2,2017,7.6,67,540913,136 min,"Action, Biography, Comedy"
3,Star Wars: Episode VIII - The Last Jedi,2017,7.0,84,540316,152 min,"Action, Biography, Comedy"
4,Wonder Woman,2017,7.4,76,528536,141 min,"Action, Biography, Comedy"

## Writing Data to CSV

In [42]:
test_df.to_csv('movie_rating.csv')